html {
  overflow-y: scroll;
  min-width: 320px;
  min-height: 100%;
}

body {
  color: $text-color;
  background-color: $background-color;
  font-family: 'Monaco', cursive;
}


// These selection rule sets have to be separate.
// Customize the background color to match your design.
::-moz-selection {
  color: $selected-text-color;
  background: $selected-background-color;
  text-shadow: none;
}

::selection {
  color: $selected-text-color;
  background: $selected-background-color;
  text-shadow: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}


.main {
  max-width: 801px;
  margin: 0 auto;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: $link-color;
}

a:hover {
  color: $link-color-hover;
}

a {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

p {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 20px;
}

.btn {
  background-color: black;
}

.cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (max-width: 800px) {
  .main {
    max-width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .main {
    max-width: 280px;
  }

  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
}
