  <!DOCTYPE html>
<html>
<head>
  <title>ImageTweet</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lilita+One|Exo:400,900|Candal|Alegreya+Sans:400,800|Titillium+Web:400,900|Changa+One|Coda:400,800|Passion+One' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="main">
    <%= yield %>
  </div>
</body>
</html>
